* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  font-family: "Roboto", sans-serif;
}

.content {
  transition: .2s ease-in;
  padding: 12px;
  max-width:960px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
}
